.header {
    box-shadow: 0 3px 6px #00000029;
    padding-bottom: 6px;
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    z-index: 1;
}

.header__container {
    width: 1350px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    font-family: var(--font-titles);
    font-weight: 300;
    color: var(--color-blue);
    font-size: 32px;
}

.header__nav ul {
    display: flex;
}
.header__nav a {
    font-family: var(--font-text);
    font-weight: 700;
    color: var(--color-grey);
    font-size: 11px;
    text-decoration: none;
    padding: 27px 47px 28px 47px;
}

.header__nav a:hover {
    color: var(--color-black);
    border-bottom: 3px solid var(--color-blue);
}
.section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title {
    font-family: var(--font-titles);
    color: var(--color-black);
    font-size: 49px;
    padding-top: 130px;
}

.section__main p {
    font-family: var(--font-text);
    font-size: var(--size-paragraphs);
    color: var(--color-black);
    padding: 20px 0 38px 0;
}

.section__main a {
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--color-blue);
    border-radius: 40px;
    padding: 22px 157px;
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
}