



.section__3 {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    padding: 105px 0;
}

.section__3__container {
    width: 1125px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.article {
    height: 370px;
    display: flex;
    justify-content: space-between;
}
.article.white {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*IMAGES*/

.article.white.one img {
    width: 30%;
    padding-right: 110px;
    padding-top: 80px;
    position: relative;
    right: 50px;
}

.article.white.two img {
    width: 35%;
    position: relative;
    left: 60px;
}
/*GEOMETRICS FIGURES*/

.diamond {
    width: 160px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: var(--color-pink);
    border-radius: 41px;
    position: absolute;
    right: 500px;
}

.article.white .circle {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: var(--color-blue);
    position: absolute;
    left: 410px;
    top: 1945px;
}

/*ARTICLE TEXT STYLES*/

.article__wrap h2 {
    font-family: var(--font-titles);
    font-size: var(--size-titles-h2);
    color: var(--color-black);
    padding-bottom: 30px;
}
.article__wrap h2.one\&two {
    max-width: 246px;
}
.article__wrap p {
    max-width:  416px;
    font-family: var(--font-text);
    font-size: var(--size-paragraphs);
    color: var(--color-black);
}

/*LINES*/

.line {
    width: 328px;
    height: 3px;
    margin-top: 50px;
}
.article.one .line {
    background-color: var(--color-pink);
}
.article.two .line {
    background-color: var(--color-blue);
}
.article.three .line {
    background-color: var(--color-green);
}


.article__wrap.transparent {
    background-color: #F7F7F7;
}
.article__wrap.one, .article__wrap.three {
    background-color: #ffffff;
    padding-left: 35px;
}
.article__wrap.two {
    padding-right: 35px;
}


.article__wrap h2.three {
    max-width: 350px;
    padding-top: 69px;
}
.article__wrap p.different {
    max-width: 555px;
}

/*LAST ARTICLE*/

.article.three .article__wrap {

}

.block {
    width: 440px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}