
/*GENERAL STYLES*/
.section__4 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__4__container {
    width: 1265px;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pricing__block.small {
    width: 372px;
    height: 461px;
   /* margin-top: 20px;*/
}
.pricing__block.central {
    width: 405px;
    height: 500px;
}

/*MAIN TITLE*/

.section__4__title {
    font-family: var(--font-titles);
    font-size: var(--size-titles-h2);
    color: var(--color-black);
    padding: 100px 0 50px 0;
}

/*BLOCKS BORDERS*/

.pricing__block.small.left {
    border: 1px solid var(--color-pink);
    border-radius: 18px;
}
.pricing__block.central {
    border: 1px solid var(--color-blue);
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing__block.small.right{
    border: 1px solid var(--color-green);
    border-radius: 18px;
}

/*BLOCKS INSIDE*/

.pricing__block__title {
    font-family: var(--font-titles);
    font-weight: 700;
    color: #13253B;
    font-size: var(--size-pricing-title);
    /*padding: 34px 0 20px 0;*/
}

.pricing__block__number {
    font-family: var(--font-text);
    font-weight: 300;
    font-size: var(--size-pricing-big)
}
.left .pricing__block__number {
    color: var(--color-pink);
}
.central .pricing__block__number {
    color: var(--color-blue);
}
.right .pricing__block__number {
    color: var(--color-green);
}

.section__4__container p {
    font-family: var(--font-text);
    font-size: var(--size-pricing-list);
    color: var(--color-black);
}
.section__4__container i.fa-regular {
    font-size: 11px;
}
.section__4__container i.fa-square-check {
    color: var(--color-green);
}
.section__4__container i.fa-rectangle-xmark {
    color: var(--color-pink);
}
.pricing__block span {
    color: #13253B;
    font-family: var(--font-titles);
    font-weight: 700;
    font-size: 12px;
}

/*BUTTONS */

.pricing__block a {
    color: #ffffff;
    padding: 16px 57px;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 13px;
    font-weight: 700;
    border-radius: 23px;
}
.left .pricing__button {
    background-color: var(--color-pink);
}
.central .pricing__button {
    background-color: var(--color-blue);
    padding: 16px 64px;
}
.right .pricing__button {
    background-color: var(--color-green);
}

/*LISTS STYLING*/

/*LEFT*/
.left .pricing__block__title, .right .pricing__block__title {
    padding: 34px 0 20px 0;
}
.left .pricing__block__number, .right .pricing__block__number {
    padding-bottom: 12px;
}
.left span, .right span {
    padding-bottom: 50px;
}
.left p, .right p {
    padding-bottom: 23px;
}
.left p:last-of-type, .right p:last-of-type {
    padding-bottom: 55px;
    position: relative;
}
.left a, .right a {
    position: absolute;
    top: 3453px;
}

/*CENTER*/
.central .pricing__block__title {
    padding: 34px 0 14px 0;
}
.central .pricing__block__number {
    padding-bottom: 20px;
}
.central span {
    padding-bottom: 64px;
}
.central p {
    padding-bottom: 28px;
}
.central p:last-of-type {
    padding-bottom: 53px;
    position: relative;
}
.central a {
    position: absolute;
    top: 3470px;
}
/*RIGHT*/
/*
.right .pricing__block__number {
    padding-bottom: 20px;
}
.right span {
    padding-bottom: 50px;
}

.right p {
    padding-bottom: 23px;
}
.right p:last-of-type {
    !*padding-bottom: 55px;*!
    position: relative;
}

.right a {
    position: absolute;
    top: 3453px;
}*/
